/* 100-DAYS-OF-CODE */

body {
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #8B0CE2;
}

#navbar img {
    height: 100%;
}

.navbar-list {
    list-style: none;
    margin-top: 35px;
    margin-right: 20px;
}

.navbar-list li {
    display: inline;
    margin: 1rem;

    font-family: 'Tourney', cursive;
    color: white;
}

.navbar-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-list a{
    text-decoration: none;
    color: white;
}

#header {
    background-color: #E0C7F4;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    padding-left: 20rem;
}

.header-p {
    font-family: 'Tourney', cursive;
    color: white;
    font-size: 22px;

    padding-right: 20rem;
}

.header-p a{
    text-decoration: none;
}

.header-p a:hover{
    text-decoration: underline;
}


