/* 100-DAYS-OF-CODE */

body {
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #5F287F;
}

#navbar img {
    height: 100%;
}

.navbar-list {
    list-style: none;
    margin-top: 35px;
    margin-right: 20px;
}

.navbar-list li {
    display: inline;
    margin: 1rem;

    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.navbar-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-list a{
    text-decoration: none;
    color: white;
}

#header {
    background-color: #E0C7F4;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    padding-left: 15rem;
    padding-right: 15rem;
}

.header-p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;

    padding-right: 20rem;
    text-align: justify;
}

.header-p a{
    text-decoration: none;
}

.header-p a:hover{
    text-decoration: underline;
}

.dia-impar {
    background-color: white;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dia-impar-img {
    padding-left: 15rem;
    padding-right: 15rem;
}

.dia-impar-p {
    font-family: 'Josefin Sans', sans-serif;
    color: #5F287F;
    font-size: 22px;

    padding-right: 20rem;
    text-align: justify;
}

.dia-impar-p img {
    margin-left: 140px
}

.dia-par {
    background-color: #E0C7F4;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dia-par-img {
    padding-left: 15rem;
    padding-right: 15rem;
}

.dia-par-img img {
    padding-right: 100px;
}

.dia-par-p {
    font-family: 'Josefin Sans', sans-serif;
    color: #5F287F;
    font-size: 22px;

    padding-left: 200px;
    padding-right: 100px;
    text-align: justify;
}

#footer {
    background-color :#5F287F;
    margin: 0px;
    padding: 2rem;

    display: flex;
    justify-content: space-between;

    font-family: 'Josefin Sans', sans-serif;
    color: white;
}